{% extends 'posts/base.html' %}
{% block content %}
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1" class="text-white">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1" class="text-white">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
{% endblock %}